<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="UserRegistration">
<input type="text" placeholder="Enter the username" name="username"><br>
<input type="text" placeholder="Enter the emailid" name="emailid"><br>
<input type="password" placeholder="Enter the password" name="password" ><br>
<input type="text" placeholder="Enter the mobile number" name="mobilenumber"><br>
<input type="text" placeholder="Enter the gender" name="gender"><br>
<input type="submit">
</form>
</body>
</html>